{% extends "layout.html" %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    function DisableButton() {
        document.getElementById("submit_feedback").disabled = true;
        document.getElementById("feedback_form").submit();
        $('#output').html('<b>Thank you for your feedback!</b>');
        $('#output').show();
    }
</script>

    <h2>Feedback</h2>

    <p>We appreciate your feedback on your {{ session["gameinfo"]["gamename"] }} game!</p>
    <br>

    <form id="feedback_form" action="/feedback" method="post">

        <p><b>Please rate the game with stars</b></p>
        <p>Scale: 5 - I could play this all day, 1 - I can survive one round</p>
        <select name="stars">
                <option value ="5">5</option>
                <option value ="4">4</option>
                <option value ="3">3</option>
                <option value ="2">2</option>
                <option value ="1">1</option>
            </select>

            <p>&nbsp;</p>

            <p><b>Please write your comments here</b></p>
            <textarea name="comments" rows = "5" cols ="40" maxlength ="200"></textarea>
            <p><input id="submit_feedback" type="submit" value="Send" onclick="DisableButton();"></p>
            <input type ="hidden" name="gamename" value={{session.gameinfo.gamename}}></input>
            <input type ="hidden" name="session_id" value={{session.csrf_token }}></input>
            <input type ="hidden" name="player_id" value={{session.user_id}}></input>

            <p>&nbsp;</p>
            <p>
                <div id="output" style="display: none;">
                    Please press Send to submit your feedback.
                </div>
            </p>

    </form>

    <hr>

    <p>Want to return to the game? <a href="/play_game">Play game</a></p>
    <p>Want to see your statistics? <a href="/statistics">Statistics</a></p>
    <p>Want to see what others said? <a href="/see_feedback">See feedback</a></p>
    {% if session['user_role'] == 2 %}
        <p>Want to respond to feedback? (only for admin users) <a href="/admin_feedback">Feedback</a></p>
    {% endif %}
    <p>Want to sign out? <a href="/signout">Sign out</a></p>

    {% endblock %}