{% extends "layout.html" %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
    $("button").click(function() {
        var right = "{{ series_cards[session['gameinfo']['roundnumber']][4] }}";
        var fired_button = $(this).val();
        var stats_updated_correct_answers = parseInt("{{ session['gameinfo']['correctanswers'] }}")+1;

        if (fired_button == right) {
            $('#output').html("Congratulations! The right answer really is: {{ series_cards[session['gameinfo']['roundnumber']][4] }}");
            $('#stats_correct_answers').html("<b>Words correct: </b> " + stats_updated_correct_answers)
            $.ajax({
                url: './processinput',
                type: 'POST',
                data: JSON.stringify({'wasright': 1, 'session_id': '{{ session.csrf_token }}' }),
                contentType: 'application/json'
            });
//            console.log('right')
        } else {
            $('#output').html("You picked the wrong answer. The right answer is: {{ series_cards[session['gameinfo']['roundnumber']][4] }}");

            $.ajax({
                url: './processinput',
                type: 'POST',
                data: JSON.stringify({'wasright': 0}),
                contentType: 'application/json'
            });
//            console.log('wrong')
        }
        document.getElementById("1").disabled = true;
        document.getElementById("2").disabled = true;
        document.getElementById("3").disabled = true;
        document.getElementById("4").disabled = true;

        var stats_updated_round_number = parseInt("{{ session['gameinfo']['roundnumber'] }}")+1;
        $('#stats_round_number').html("<b>Round number: </b> " + stats_updated_round_number)

        var nowroundnumber = parseInt("{{ session['gameinfo']['roundnumber'] }}");
        var nextroundnumber = nowroundnumber+1;
//        console.log(nextroundnumber);
        var maxround = parseInt("{{ session['gameinfo']['maxrounds'] }}");
//        console.log(maxround);
        if (nextroundnumber < maxround) {
            $('#nextround').show();
//            console.log('Here we are');
        } else {
            $('#gameover').show();
        };
        return false;
    });
});
</script>

<h2>Games </h2>
    <p>Select your game to be played </p>

    <p>
        {% for game_name in game_names %} 
            <a href="/play_game?changegame={{game_name}}">{{game_name}}</href></a>
        {% endfor %}
    </p>


<hr>
<h2>Game statistics </h2>
    <p><b>User id: </b> {{ session["user_id"] }} </p>
    <p><b>User name: </b> {{ session["user_name"] }} </p>
    <p><b>Game name: </b> {{ session["gameinfo"]["gamename"] }} </p>
    <p><b>Words in game: </b> {{ session["gameinfo"]["words_total"] }} </p>
    <p id="stats_round_number"><b>Round number: </b> {{ session["gameinfo"]["roundnumber"] }} </p>
    <p id ="stats_correct_answers"><b>Words correct: </b> {{ session["gameinfo"]["correctanswers"] }} </p>

    <hr>

<h2>Game: {{ session['gameinfo']['gamename'] }}</h2>

    <p><a href="/play_game?restart=yes">Start a new game with {{ session["gameinfo"]["gamename"] }}</a></p>

    <p>{% print(session['gameinfo']) %}</p>

    <p><b>Word in Japanese </b></p>

        <p>
            <div class ="alternatives">{{ series_cards[session['gameinfo']['roundnumber']][1] }}</div>
            <div class ="alternatives">{{ series_cards[session['gameinfo']['roundnumber']][2] }}</div>
            <div class ="alternatives">{{ series_cards[session['gameinfo']['roundnumber']][3] }}</div>
        </p>
        <p>
            <div class ="alternatives_description">kanji</div>
            <div class ="alternatives_description">hiragana/katakana</div>
            <div class ="alternatives_description">roomaji</div>
        </p>

        <p><b>Select the correct meaning</b></p>
        <p>

            {% for item in series_cards[session['gameinfo']['roundnumber']][5] %}
                <button id="{{ loop.index }}" name="{{ loop.index }}" value="{{ item }}">{{item}}</button>
            {% endfor %}
        </p>

        <p>Check: {{ series_cards[session['gameinfo']['roundnumber']] }}</p>
        <p>Right answer: {{ series_cards[session['gameinfo']['roundnumber']][4] }}</p>

        <p>
            <div id="output">
                Please select a meaning for the word
            </div>
        </p>

        <p>
            <div id="nextround" style="display: none;">
                <a href="/play_game">Play the next round with {{ session["gameinfo"]["gamename"] }}</a>
            </div>
        </p>

    <p> 
        <div id="gameover" style="display: none;">
            Game over!
        </div> 
    </p>

    <hr>
    <p>Want to see your statistics? <a href="/statistics">Statistics</a></p>
    <p>Want to give feedback? <a href="/feedback">Feedback</a></p>
    <p>Want to sign out? <a href="/signout">Sign out</a></p>

{% endblock %}