{% extends "layout.html" %}
{% block content %}

    <p><a href="/play_game?rndnm=-1&gamename=adjectives">start a new game with adjectives</a></p>

    {% print('kyukkuluutruur') %}

    <p><b>User id: </b> {{ session["user_id"] }} </p>
    <p><b>User name: </b> {{ session["user_name"] }} </p>

    <p>{% print(request.args['rndnm']) %}</p>

    <p>{% print(session['gameinfo']) %}</p>

    <p><a href="/play_game?rndnm={{ session['gameinfo']['roundnumber'] }}&gamename=adjectives">play the next round with adjectives</a></p>

    <h2>Games </h2>

    <p>Note: links do not yet work </p>

    <p>
        {% for game_name in game_names %}
            <a href="">{{game_name}}</href></a>
        {% endfor %}
    </p>

    <h2>Game: {{ session['gameinfo']['gamename'] }}</h2>

    {% if session['gameinfo']['roundnumber'] < session['gameinfo']['maxrounds']  %}
        <p>
            <div class ="alternatives">{{ series_cards[session['gameinfo']['roundnumber']][1] }}</div>
            <div class ="alternatives">{{ series_cards[session['gameinfo']['roundnumber']][2] }}</div>
            <div class ="alternatives">{{ series_cards[session['gameinfo']['roundnumber']][3] }}</div>
        </p>
        <p>
            <div class ="alternatives_description">kanji</div>
            <div class ="alternatives_description">hiragana/katakana</div>
            <div class ="alternatives_description">roomaji</div>
        </p>

        <p><b>Select the correct meaning:</b></p>
        <p>

            {% for item in series_cards[session['gameinfo']['roundnumber']][5] %}
                <button id="{{ loop.index }}" name="{{ loop.index }}" value="{{ item }}">{{item}}</button>
            {% endfor %}
        </p>

        <p>Check: {{ series_cards[session['gameinfo']['roundnumber']] }}</p>

    {% else: %}
        <p> Game over! </p>

    {% endif %}

    <p>Want to sign out? <a href="/signout">Sign out</a></p>

{% endblock %}