{% extends "layout.html" %}
{% block content %}

<h2>Overview of feedbacks</h2>
<p>See feedback for the games!</p>
<br />

<table name="feedback_given" class="center">
    <tr>
        <th>Game name</th>
        <th>Stars</th>
        <th>Comments</th>
        <th>Admin response</th>
    </tr>

        {% for item in latest_five_feedbacks %}
            <tr>
            {% for data in item %}
            <td>{{data}}</td>
            {% endfor %}
            </tr>
        {% endfor %}

</table> 
<br />

{% endblock %}