{% extends "layout.html" %}
{% block content %}

<h2>Overview of feedbacks</h2>
<p>See the latest feedback for each game!</p>

<table name="feedback_given" style="width:100%">
    <tr>
        <th style="width:10%">Game name</th>
        <th style="width:10%">Stars</th>
        <th style="width:40%">Comments</th>
        <th style="width:40%">Admin response</th>
    </tr>

        {% for item in latest_five_feedbacks %}
            <tr>
            {% for data in item %}
            <td>{{data}}</td>
            {% endfor %}
            </tr>
        {% endfor %}

</table> 

{% endblock %}