{% extends "layout.html" %}
{% block content %}

<script>
    function check(form) {
        if (form.username.value == "") {
            alert("Please insert a username");
            return false;
        }

        if ((form.username.value.length < 2) || (form.username.value.length > 5)) {
            alert("User name must be 2-5 characters long, please try again");
            return false;
        }

        if ((form.password1.value == "") || (form.password2.value == "")) {
            alert("Please insert a password");
            return false;
        }

        if ((form.password1.value.length < 2) || (form.password1.value.length > 5) || (form.password2.value.length < 2) || (form.password2.value.length > 5)) {
            alert("Password must be 2-5 characters long, please try again");
            return false;
        }

        if (form.password1.value != form.password2.value ) {
            alert("Passwords did not match, please try again");
            return false;
        }

        if ((form.role.value != 1) && (form.role.value != 2)) {
            alert("Please select a role from the drop down menu");
            return false;
        }

        return true;
}
</script>

        <h2>Sign up for the game!</h2>
        
        <hr>
        <form action="/signup" method="post" onsubmit="return check(this)">
            
                <p>User name (2-5 characters):</p>
                <p><input type="text" name="username" minlength="2" maxlength="5"></p>
                
                <p>Password (2-5 characters):</p>
                <p><input type="password" name="password1" minlength="2" maxlength="5"></p>

                <p>Please type the password again:</p>
                <p><input type="password" name="password2" minlength="2" maxlength="5"></p>
            
                <p>Role:
                <select name="role">
                    <option value=1>Player</option>
                    <option value=2>Admin</option>
                </select>
                </p>
                <hr>

                <p>
                    <input type = "submit" value="Join & Play!">
                </p>

        </form>
        
        <p>Already with a user name? <a href="/signin">Sign in</a></p>

        <p>Want to sign out? <a href="/signout">Sign out</a></p>
    
{% endblock %}