{% extends "layout.html" %}
{% block content %}

        <h2>Sign up for the game!</h2>
        
        <hr>
        <form action="/signup" method="post">
            
                <p>User name (2-5 characters):</p>
                <p><input type="text" name="username" minlength="2" maxlength="5"></p>
                
                <p>Password (2-5 characters):</p>
                <p><input type="password" name="password1" minlength="2" maxlength="5"></p>

                <p>Please type the password again:</p>
                <p><input type="password" name="password2" minlength="2" maxlength="5"></p>
            
                <p>Role:
                <select name="role">
                    <option value=1>Player</option>
                    <option value=2>Admin</option>
                </select>
                </p>
                <hr>

                <p>
                    <input type = "submit" value="Join & Play!">
                </p>

        </form>
        
        <p>Already with a user name? <a href="/signin">Sign in</a></p>

        <p>Want to sign out? <a href="/signout">Sign out</a></p>
    
{% endblock %}